<po-divider />
<div class="po-row">
  <po-chart
    class="po-lg-6 po-mt-2"
    [p-series]="[
      { label: 'Camisetas', data: 12 },
      { label: 'Bermudas', data: 23 },
      { label: 'Calças', data: 15 },
      { label: 'Sapatos', data: 32 }
    ]"
    p-title="Quantidade em estoque"
  />
  <div class="po-lg-6 po-mt-2">
    <po-combo
      name="combo"
      p-label="PO Combo"
      [p-options]="[{ value: 2024 }, { value: 2025 }]"
      (ngModelChange)="changeYear($event)"
    >
    </po-combo>
    <po-chart
      [p-title]="'Vendas - ' + year"
      [p-options]="optionsColumn"
      [p-categories]="categoriesColumn"
      [p-series]="vendasPorMes"
    />
  </div>
</div>
<po-divider />
